<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
      integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link rel="stylesheet" href="stylesheets/style.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </head>
  <body>
    <div class="navbar-fixed red darken-4">
      <nav>
        <div class="nav-wrapper">
          <img
            src="https://www.pinclipart.com/picdir/big/65-653120_pokeball-transparent-background-clipart.png"
            alt="pokeball icon"
            width="50"
            id="logo"
          />
          <a href="" class="brand-logo left">Pokemon Team Builder</a>
          <ul class="right">
            <% if (user) { %>
            <li>
              <a href="/pokemon">Pokemon</a>
            </li>
            <li>
              <a href="/trainers/">Trainers(WIP)</a>
            </li>
            <li>
              <a href="/logout"
                ><i class="material-icons left">trending_flat</i>Log Out</a
              >
              <% } else { %>
              <a href="/auth/google"
                ><i class="material-icons left">vpn_key</i>Login with Google</a
              >
            </li>
            <% } %>
          </ul>
        </div>
      </nav>
    </div>
  </body>
</html>
