<%- include('./partials/header'); %>
<h1 class="center-align">Welcome to <%= title %></h1>
<div class="center-align">
  Use the links in the navbar above to get started!
</div>
<%- include('./partials/footer'); %>
