body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

li {
  display: inline-block;
  margin: 4px;
  text-align: center;
}

img {
  background-color: rgb(250, 161, 161);
  border-radius: 50%;
  margin: 4px;
}

navbar-fixed {
  
}