<%- include('../partials/header'); %>
<ul class="timeline">
  <% sprites.forEach(function(sprite) { %>
  <li class="timeline-yellow">
    <a href="/pokemon/show/<%= sprite._id %>">
      <img src="<%= sprite %>" />
    </a>
    <form action="PUT">
      <button type="submit" class="">Add to Team</button>
    </form>
  </li>
  <% }) %>
</ul>
<%- include('../partials/footer'); %>
