<%- include('../partials/header'); %>
<ul class="timeline">
  <% sprites.forEach(function(sprite) { %>
  <li class="timeline-yellow">
    <img src="<%= sprite %>" />
  </li>
  <% }) %>
</ul>
<%- include('../partials/footer'); %>
